html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(../images/login_bg.jpg) no-repeat center / cover;
}
/* 头部区域 start */
/* 头部区域 end */
/* 登录区域 start */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 310px;
  background-color: #fff;
}
.login .title {
  height: 60px;
  background: url(../images/login_title.png) no-repeat center;
}
.login .toggleLogin {
  display: none;
}
.login .layui-form {
  padding: 0 30px;
}
.login .layui-form .links {
  display: flex;
  justify-content: flex-end;
}
.login .layui-form .links a {
  font-size: 12px;
}
.login .layui-form .layui-form-item {
  position: relative;
}
.login .layui-form .layui-form-item .layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.login .layui-form .layui-form-item .layui-input {
  padding-left: 32px;
}
/* 登录区域 end */
